<div class="flex flex-col sm:flex-row justify-between items-center mb-4 sm:mb-6 gap-3 sm:gap-0">
    <h1 class="text-neutral-300 text-xl font-mono order-2 sm:order-1 text-center sm:text-left uppercase">
        ⌘ RECENT PASTES
    </h1>
    <div class="flex space-x-2 order-1 sm:order-2 w-full sm:w-auto justify-end">
        <a href="/random" class="px-4 py-2 text-sm btn-custom transition-all" title="Surprise Me">🎲</a>
        <a href="/" class="px-4 py-2 text-sm btn-custom transition-all" title="New Paste">✨</a>
    </div>
</div>
